<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Cart</title>
</head>
<body>
	<img src="https://i.pinimg.com/236x/e5/1d/b4/e51db4868e7a0cccc99a5fc1b71c3ec9.jpg"class="center1" >
	<h2 class="center1">price: 50$</h2>
	<h2 class = "center1">
	<img src="https://i.pinimg.com/236x/43/a0/70/43a070ac319b16ee560c3a5580517fd6.jpg" class="center3">
	<h2 class="center1"> price: 22$</h2>
	<a href="/product">PRODUCT</a>
	<a href="/">HOME</a>
	<h2 class="center2">End Price: 72$</h2>
</body>
</html>