<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<title>clothbag-ebayyy</title>
</head>
<body>
	<h1>CLOTH BAGS<3</h1>
	<img src="https://i.pinimg.com/236x/de/29/27/de2927e20793b5f5f9190b75d323c0b1.jpg"class="center1" >
	<h2 class="center2">10$</h2>
		<img src="https://i.pinimg.com/236x/fe/b3/a1/feb3a1662942662fd0689daf7fbdc12d.jpg" class="center1">
		<h2 class="center2">15$</h2>
		<img src="https://i.pinimg.com/236x/b3/f5/86/b3f586bfb94dd1ee544bb88cef8b0320.jpg" class="center1">
		<h2 class="center2">20$</h2>
		<img src="https://i.pinimg.com/236x/b7/3b/7c/b73b7cf691b8f83fcf4b93f2c0779350.jpg" class="center1">
		<h2 class="center2">22$</h2>
		<img src="https://i.pinimg.com/236x/73/a4/63/73a4632c2f734544080259901326a78f.jpg" class="center1">
		<h2 class="center2">25$</h2>
		<a href="/">HOME</a>

</body>
</html>