<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/css/style.css">
    <title>ebayyy</title>
</head>
<body>
	<h1>WELCOME TO:</h1>
	<img src="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" width="200" height="150">
	<p>In my app I'm selling only beautiful bags!!! <br></br>You have a small but effective diversity of the coolest bags in the world! </p>
	<a href="/handbag">HAND BAG</a>
	<a href="/clothbag">CLOTH BAG</a>
	<a href="/luggage">LUGGAGE</a>
	<a href="/product">APP</a>
	<a href="/cart">CART</a>
</body>
</html>