body {
  background-color: #ffc2d1;
}
  h1{
  	  color: HotPink;
  	  outline: 5px dotted black;
  }
 .center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
 .center2 {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  width: 50%;
}
.center3 {
  display: block;
  margin-left: 18%;
  margin-right: 50%;
  width: 70%;
}